@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #333333;
  --pink: #ff9972;
  --light-pink: #fed3c3;
  --btn-color: #2c2c2d;

  --font-host-grotesk: "Host Grotesk", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --bnw-box-shadow: 0 0 40px 40px #eeeeee;
}

/* Container */
.container-fluid {
  --bs-gutter-x: 0 !important;
}

select.form-control:not([size]):not([multiple]) {
  text-transform: capitalize;
}
#petCategory{
  text-transform: capitalize!important;
}

body {
  font-family: var(--font-host-grotesk) !important;
  background-image: url(/images/image\ \(1\).webp);
}

/* LINKS */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-host-grotesk) !important;
  color: var(--black) !important;
  font-weight: 700 !important;
}
p,
span {
  font-family: var(--font-poppins) !important;
  font-size: 16px !important;
  color: var(--gray) !important;
}

/* BUTTONS */
.main-button {
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  background-image: linear-gradient(var(--light-pink), var(--pink)) !important;
  font-family: var(--font-host-grotesk);
  font-weight: 500;
  color: var(--btn-color);
}
.main-button:hover {
  color: white;
  background-image: linear-gradient(var(--black), var(--black)) !important;
}
.main-button-white {
  background-image: linear-gradient(var(--white), var(--white)) !important;
  color: var(--black);
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-family: var(--font-host-grotesk);
  font-weight: 500;
}
.main-button-white:hover {
  color: white;
  background-image: linear-gradient(var(--black), var(--black)) !important;
}

/* FORMS */
.bnw-form {
  background-image: linear-gradient(var(--light-pink), var(--pink));
  border-radius: 20px;
  box-shadow: 0 0 10px;
  padding: 40px;
  box-shadow: var(--bnw-box-shadow);
}
.bnw-form-input {
  border: none;
  background-color: rgba(255, 255, 255, 0.801);
  padding: 10px 20px;
  border-radius: 100px;
}
.main-form-button {
  border: none;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px 50px;
  font-family: var(--font-host-grotesk);
  font-weight: 500;
  color: var(--btn-color);
}
.main-form-button:hover {
  color: white;
  background-color: black;
}
select.form-control:not([size]):not([multiple]) {
  height: auto !important;
}
/* hero section */
.hero_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero_area .hero_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right center;
  object-position: right center;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .hero_bg_box img {
  opacity: 0.4;
}

.header_section .container-fluid {
  padding: 0 25px;
}

.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
}

.slider_section .img-box img {
  width: 100%;
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
}



 .card-img-top {
  height: 200px;
  object-fit: cover;
}



.dropdown-item:active {
  background-color: black;
}


.hero_section{
  background-image: url(images/hero-bg.jpg);
}

.badge{
  text-transform: capitalize!important;
}