@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #333333;
  --pink: #ff9972;
  --light-pink: #fed3c3;
  --btn-color: #2c2c2d;

  --font-host-grotesk: "Host Grotesk", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --bnw-box-shadow:0 0 40px 40px #eeeeee;
}

body{
  font-family: var(--font-host-grotesk) !important;

}


/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-host-grotesk) !important;
  color: var(--black) !important;
  font-weight: 700 !important;
}
p, span {
  font-family: var(--font-poppins) !important;
  font-size: 18px !important;
  color: var(--gray) !important;
}


/* BUTTONS */
.main-button {
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  background-image: linear-gradient(var(--light-pink), var(--pink)) !important;
  font-family: var(--font-host-grotesk);
  font-weight: 500;
  color: var(--btn-color);
}


/* FORMS */
.bnw-form {
  background-image: linear-gradient(var(--light-pink), var(--pink)) ;
  border-radius: 20px;
  box-shadow: 0 0 10px;
  padding: 40px;
  box-shadow:var(--bnw-box-shadow);
  
}
.bnw-form-input{
  border:none;
  background-color: rgba(255, 255, 255, 0.801);
  color:white;
  padding: 10px 20px;
  border-radius: 100px; 
}
.main-form-button {
  border: none;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px 50px;
  font-family: var(--font-host-grotesk);
  font-weight: 500;
  color: var(--btn-color);
}
.main-form-button:hover {
  color: white;
  background-color: black;
}
select.form-control:not([size]):not([multiple]){
  height: auto!important;
}
